*
  box-sizing: border-box
*
	font-family: 'Roboto', sans-serif

.container
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  position: relative
//подключили шапку
.decor
  width: 100px
  & .one, span
    display: block
    width: 100px
    height: 3px
    background: #005BC1 
    margin-left: 0
  span
    width: 50px
    margin-top: 10px
    margin-left: 50px
.heading
  height: 27px
  display: flex
  align-items: baseline
  margin-top: 21px
.title-heading
  margin: 0
  margin-left: 22px
  text-transform: uppercase


@import 'header'
//подключили секцию шапку
@import 'project'
//подключили секцию проекты
@import 'catalog'
//подключили секцию каталог
@import 'rental'
//подключили секцию аренда
@import 'news'
//подключили секцию новости
@import 'footer'
//подключили секцию подвал
@import 'media'
// подключили медиа
@import 'color'
// подключили цвета